/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: bisque;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	background-color: white;
}

thead,
th,
tr,
td{
	border: solid 1px black;
}
/* End of CSS Reset */

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}
table {
	width: 800px;
	max-width: 90%;
}
#newBook {
	min-width: 200px;
	font-size: 1.25rem;
	margin-top: 1rem;
}
button,
#submit {
	cursor: pointer;
}
.popupForm {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	z-index: 10;
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	border-radius: 10px;
	background-color: white;
	width: 500px;
	max-width: 80%;
}
.popupForm.active {
	transform: translate(-50%, -50%) scale(1);
}
.popupHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid black;
	padding: 10px;
	font-size: 1.25rem;
	font-weight: bold;
}
#newBookForm {
	padding: 10px;
}
#newBookForm > div{
	margin: 4px;
	padding: 1px;
}
.forminput.active {
	border: 2px solid red;
}
.closeButton {
	background: none;
	border: none;
	font-size: 1.25rem;
	font-weight: bold;
	margin: 0;
	min-width: 0;
}
.overlay {
	position: fixed;
	opacity: 0;
	background-color: rgba(0, 0, 0, .5);
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	pointer-events: none;
}

.overlay.active {
	pointer-events: all;
	opacity: 1;
}
input {
	border: 1px solid black;
}
#submit {
	min-width: 80px;
	min-height: 1.8em;
	border-radius: 4px;
}
#submitButtonField {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#required {
	color: red;
}
img {
	background-color: black;
	border-radius: 5px;
	cursor: pointer;
}
td {
	text-align: center;
	vertical-align: middle;
	max-width: 200px;
	height: 100px;
	overflow: auto;
}
tr > button {
	display: block;
	margin: auto;
	margin-top: 40px;
}